<%- include part_header %>
<section class="fixed">
    <header class="left">
        <h2>Hello <%= user.google.display_name %></h2>
        <p>Have a nice day! -from the creator</p>
    </header>
    <div class="profile">
        <div class="profile_pic">
            <img src="<%=user.google.profile_pic%>" />
        </div>
        <div class="profile_info">
            <table>
                <tr>
                    <td>Display Name:</td>
                    <td><%=user.google.display_name%></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><%=user.google.email%></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<%- include part_footer %>